*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ' Poppins ' , sans-serif;
}
h1{
    color: #fff;
    margin-bottom: 20px;
}
h2{
    color: #00dfc4;
    font-size: 30px;
    font-weight: 600;
    margin-top: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background: #1d2b3a;
}

.inputBox{
    position: relative;
    width: 250px ;
    padding-bottom: 10px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba( 255,255,255,0.25 );
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba( 255,255,255,0.25 ) ;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span, .inputBox input:focus ~ span{
    color: #00dfc4;
    transform: translateX(10px) translateY( -7px );
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4 ;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

.inputBox input:valid, .inputBox input:focus{
    border: 1px solid #00dfc4;
}

.inputBox:nth-child(2) input:valid ~ span, .inputBox:nth-child(2) input:focus ~ span{
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
} 
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.btn input{
    color: #fff;
    display: block;
    background-color: #1d2b3a;
    padding: 7px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(200deg,#00dfc4,#000);
    background-size: 50% 100%;
    border-radius: inherit;
}
.btn:hover::before{
    animation: animateBorder 1s linear infinite;
}
@keyframes animateBorder{
    to{
        transform: translateX(-50%);
    }
}